html {
    background-color: #010127;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../assets/vecteezy-bg.jpg');
    background-size: cover;
    height: 100%;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    line-height: 1.5;
    backdrop-filter: blur(5px);
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }