---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = "About Me";
---

<Header />
<Layout title={pageTitle}>
	<main>
        <body>
			<h1 class="maintitle">Anders Cornect's</h1>
			<h2 class="subtitle">personal site</h2>
            <h2>{pageTitle}</h2>
            <p style="font-size: 20px; font-weight: normal;">I am a research mathematician born in Newfoundland, Canada. In 2024 I graduated from the Memorial University
				 of Newfoundland with a BSc. (Hons) in pure mathematics, and a minor in computer science. Since early on in my undergraduate career, I have been expanding
				the world's mathematical knowledge through research.<br>
				In the Fall of 2024, I will be attending the University of Waterloo to further my education with an MMath in computational mathematics.
			</p>
        </body>
	</main>
</Layout>
<Footer />

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 880px;
		max-width: calc(100% - 2rem);
		color: #6A4F54;
		backdrop-filter: blur(0px);
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-weight: 700;
		text-align: center;
	}
    h2 {
		font-weight: 600;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
