---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "My Blog";
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

var allPosts = await Astro.glob('./posts/*.md');
---


<Header />
<Layout title={pageTitle}>
	<title>{pageTitle}</title>
	<main>
        <body>
			<h1 class="maintitle">Anders Cornect's</h1>
			<h2 class="subtitle">blog page</h2>

            <h2>My Blog</h2>

            <p>I am posting things here.</p>

			<ul>
				{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
			</ul>
        </body>
	</main>
</Layout>
<Footer />

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 880px;
		max-width: calc(100% - 2rem);
		color: #6A4F54;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-weight: 700;
		text-align: center;
	}
</style>
