---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = "Publications";
---

<Header />
<Layout title={pageTitle}>
	<main>
		<head>
			<h1>Publications & Conferences</h1>
        </head>
        <body>
            <h2>Publications</h2>
            <ol>
                <li>
                    <p class="title">The Lamplighter Groups and Thompson's Group F have Infinite Weak-Cop Number (<a href="https://arxiv.org/abs/2406.11996">arXiv</a>)</p>
                    <p class="authors">Anders Cornect, Eduardo-Martinez Pedroza</p>

                    <p class="abstract">Abstract: The weak-cop number of a graph, introduced by Lee et al (2023), is a quasi-isometric invariant of graphs and hence of finitely generated groups via their Cayley graphs. While for any m∈Z+&cup;{'{'}∞{'}'} there exist graphs with weak-cop number m, it is an open question whether there exists finitely generated groups whose weak-cop number is different than 1 and ∞. We prove that wreath products of nontrivial groups by infinite groups have infinite weak-cop number. We also prove that Thompson's group F has infinite weak-cop number. The results are proved by defining two new pursuit and evasion games and proving the existence of strategies for the evader. In the case of Thompson's group F, we also present an alternative and more algebraic argument proving that it has infinite weak-cop number. </p>
                </li>
            </ol>
			<h2>Presentations</h2>
			<ol>
				<li>
					<p class="title">An Improved Algorithm for Gromov's Approximating Tree</p>
					<p class="abstract">Abstract: In 1987, Mikhail Gromov described an algorithm for constructing an approximating tree for an arbitrary finite metric space, with additive error proportional to a property of the space called the Gromov hyperbolicity. We discuss an improved version of this algorithm when the metric space is a graph, which runs in O(n²) time given the graph's adjacency matrix.</p>

					<p class="conferences">
						MUN Summer Undergraduate Research Forum (Oct. 2023)<br>
						Science Atlantic Mathematics, Statistics and Computer Science (Oct. 2023)<br>
						MUN Cross-Campus Combinatorics Conference (Aug. 2023)
					</p>
				</li>
				<li>
					<p class="title">The Watchman's Walk on Directed Circulants and 3-Regular Cayley Graphs</p>
					<p class="abstract">Abstract: The watchman number of a graph G is the length of a minimum, closed, dominating walk on G, which we denote w(G). We provide results on the watchman number of certain Cayley graphs. We establish sharp bounds, along with exact values in certain special cases, for directed circulant graphs of out-degree 2. We also provide a full survey of the watchman number for all 3-regular Cayley graphs of abelian groups, using a known classification of such graphs into isomorphism classes.</p>

					<p class="conferences">
						MUN Summer Undergraduate Research Forum (Sep. 2022)<br>
						East Coast Combinatorics Conference (Aug. 2022)
					</p>
				</li>
			</ol>
        </body>
	</main>
</Layout>
<Footer />

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: #6A4F54;
		background-color: #f6f2ef;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
    .title {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .authors {
        margin-top: 0px;
        padding-top: 0px;
        font-weight: lighter;
        font-size: 20px;
        font-style: italic;
    }
	.conferences {
		font-weight: lighter;
		font-size: 20px;
		font-style: italic;
	}
    .abstract {
        font-size: 20px;
		font-weight: normal;
    }
    ol {
        font-size: 25px;
        font-weight: bold;
    }
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
    h2 {
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
