---
import Social from './Social.astro';
---

<footer>
    <Social platform="github" username="And-ers" />
    <Social platform="linkedin" username="in/anders-cornect-b44166301" />
    <p>Background: <a href="https://www.vecteezy.com/free-vector/blue-geometric-background">Blue Geometric Background Vectors by Vecteezy</a></p>
</footer>

<style>
    footer {
      background-color: #01012785;
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      margin: auto 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
    }
</style>