---
import Social from './Social.astro';
---

<footer>
    <Social platform="github" username="And-ers" />
    <Social platform="linkedin" username="in/anders-cornect-b44166301" />
    <p><a href="https://www.freepik.com/free-psd/modern-abstract-blue-gradient-background_177755666.htm#query=dark%20blue%20geometric%20background&position=14&from_view=keyword&track=ais_user&uuid=ea8851f8-4c52-44e4-ae70-a940ee23212e">Image by muhammad.abdullah</a> on Freepik</p>
</footer>

<style>
    footer {
      background-color: black;
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      margin: auto 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
</style>