---
import { Image } from 'astro:assets';
import github_img from '../assets/github.png';
---

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->

<!--

<footer>
    <a href="http://www.github.com/And-ers"><Image src={github_img} alt="My GitHub" width="30" height="30"/></a>
    <a href="http://www.linkedin.com/in/anders-cornect-b44166301"><Image src={github_img} alt="My GitHub" width="30" height="30"/></a>
</footer>

<style>
    footer {
      background-color: #04392780;
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: 0;
      width: 96%;
      color: white;
      backdrop-filter: blur(20px);
      margin-left: 1%;
      margin-bottom: 1em;
      border-radius: 10px;
    }
    
    a {
      padding: 0.5rem 1rem;
      color: white;
      text-decoration: none;
    }
</style>

-->