---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Navigation />
    </nav>
    <br>
</header>
<div class="clear"></div>

<style>
    header {
      display: flex;
      gap: 10rem;
      margin-top: 0;
      margin-bottom: 5px;
      margin: auto 0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 3.5rem;
      color: #6A4F54
      background-color: #f6f2ef;
      border-style: solid;
    }

    .clear { 
      clear: both;
      height: 5rem;
    }
</style>