---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
      background-color: #01012780;
      display: flex;
      gap: 1rem;
      margin-top: 0;
      margin-bottom: 10px;
      margin: auto 0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      color: white;
      backdrop-filter: blur(20px);
    }
</style>