---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/publications/">Publications</a>
    <a href="/anderrated/">Reviews</a>
</div>]