---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
    <img src=url(../assets/${platform}.png) width="40" height="40">
</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #340c7071;
      text-decoration: none;
    }
</style>