---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
    <img src=`${platform}.png` alt="W3Schools.com" width="100" height="100">
</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #340c7071;
      text-decoration: none;
    }
</style>